{% extends 'blog_app/base.html' %} {% load static %} {% block content %}

<div class="col-sm-10 mx-5">
  <h3 class="my-5">About page</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quam
    recusandae facilis sed quibusdam cumque odit, assumenda culpa. Sit neque
    distinctio beatae vero nihil porro odio culpa magni, voluptates temporibus
    quam, voluptatibus placeat dicta architecto eveniet maxime qui. Repellendus
    saepe corrupti magni rem. Ad maiores quae quisquam temporibus ratione
    corrupti?
  </p>
</div>

{% endblock content %}
